---
title: Software Design Spring 2017
date: 2017-02-12 00:00:00 -05:00
permalink: "/"
layout: splash
header:
  overlay_color: "#444"
  overlay_filter: '0.25'
  overlay_image: "/assets/images/splash-banner.png"
---

{% comment %}
Home page modules are in _splash_modules/*
{% endcomment %}

{% assign sorted = (site.homepage_boxes | sort: 'position') %}
{% for module in sorted %}
  {% assign loopindex = forloop.index0 | modulo: 3 %}
  {% if loopindex == 0 %}
    <div class="feature__wrapper">
  {% endif %}

  <div class="feature__item"><div class="archive__item"><div class="archive__item-body">
    <h2 class="archive__item-title">
      {{ module.title }}
    </h2>
    <div class="archive__item-excerpt" markdown="1">
      {{ module.content }}
    </div>
  </div></div></div>

  {% if loopindex == 2 %}
    </div><!-- feature__wrapper -->
  {% endif %}
{% endfor %}
