---
permalink: assignments/
title: Assignments
layout: single
---

<dl>
{% assign assignments = (site.assignments | filter: 'due_date' | sort: 'due_date') %}
{% for assignment in assignments %}
  {% if assignment.due_date %}
    {% if assignment.parts %}
      <dt><a href="{{ assignment.url }}">{{ assignment.title }} – parts due
        {% for part in assignment.parts %}
          <b>{{ part.due_date | date: '%a, %b %d' }}</b>{% if forloop.rindex > 1 %}; {% endif %}
          {% if forloop.rindex == 2 %}and{% endif %}
        {% endfor %}
      </a></dt>
      <dd>{{ assignment.description }}<ul>
      {% for part in assignment.parts %}
        <li>{{ part.name }} – due <b>{{ part.due_date | date: '%A, %B %d' }}</b></li>
      {% endfor %}
      </ul></dd>
    {% else %}
      <dt><a href="{{ assignment.url }}">{{ assignment.title }} – due {{ assignment.due_date | date: '%a, %B %d' }}</a></dt>
      <dd>{{ assignment.description }}</dd>
    {% endif %}
  {% endif %}
{% endfor %}
</dl>
