{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
      <iframe src="https://duckduckgo.com/search.html?site=sd17spring.github.io&prefill=Search this site" style="overflow:hidden;margin:0;padding:0;width:200px;height:40px;" frameborder="0"></iframe>
      {% if site.site_search %}
        <div id="search">
          <form role="search" method="get" action="/search/">
            <input id="searchString" name="searchString" type="text">
            <input id="searchButton" name="googleSearchName" type="submit" value="Search">
          </form>
        </div>
      {% endif %}
      {% for s in page.sidebar %}
        {% if s.image %}
          <img src=
          {% if s.image contains "://" %}
            "{{ s.image }}"
          {% else %}
            "{{ s.image | absolute_url }}"
          {% endif %}
          alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
        {% endif %}
        {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
        {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}
